# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment variables
.env

# ======================
# Node / React
# ======================
node_modules/
dist/
*.local

# ======================
# Docker / Volumes
# ======================
postgres_data/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
